<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{#book}}
<div>
{{num}} <a  href="/edit?num={{num}}">{{username}}</a> <img src="/img/{{filename}}">
</div>
{{/book}}
<form method="post" action="/book" enctype="multipart/form-data">
    <input type="text" username="id" value="{{id}}" hidden="hidden"/>
    <input type="file" username="file" />
    <input type="text" username="bookname"/>
    <input type="submit" value="Добавить"/>
</form>
</body>
</html>