<!DOCTYPE html>

<html lang="ru">

<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
<a href="/users">Пользователи</a>
<div><a href="/book?user_id={{user_id}}">Мои книги</a></div>
    <h1>Список книг</h1>
    {{#books}}
    <div>
        {{num}} {{name}}
        <form action="/add">
        <button>Добавить</button>
        <input hidden="hidden" type="text" name="num"  value="{{num}}"/>
        <input type="text" hidden="hidden" name="user_id" value="{{user_id}}" >
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
    </div>
    {{/books}}
    <form method="post">

        <input type="text" name="username" placeholder="Имя"/>
        <input type="submit" value="Добавить"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>

</body>

</html>