<!DOCTYPE html>

<html lang="ru">

<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" username="_csrf" value="{{_csrf.token}}" />
</form>
    <h1>Список юзеров</h1>
    {{#users}}
    <div>
        <a href="/book?id={{id}}">{{id}}</a>{{username}}
    </div>
    {{/users}}
    <form method="post">
        <input type="text" username="username" placeholder="Имя"/>
        <input type="submit" value="Добавить"/>
        <input type="hidden" username="_csrf" value="{{_csrf.token}}" />
    </form>

</body>

</html>